body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url('https://us.123rf.com/450wm/kluva/kluva1512/kluva151200057/49482654-books-library-seamless-pattern-reading-background-hand-drawn-doodle-pattern-seamless-pattern.jpg');
    background-size: cover;
    background-position: center;
}

.store-btn {
    background-color: #89CFF0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.store-btn:hover {
    background-color: #1BA784;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#store-info {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    display: none;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

@keyframes popEffect {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }

    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

#store-info.active {
    display: block;
    animation: popEffect 0.5s forwards;
}

#map {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}